/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos específicos para secciones */
#separar-basura {
  background-color: #f0f0f0;
}

#reciclaje {
  background-color: #e0e0e0;
}

#compostaje {
  background-color: #d0d0d0;
}

#contacto {
  background-color: #c0c0c0;
}

/* Estilos responsivos */
@media only screen and (max-width: 600px) {
  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
