/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Color de fondo */
  color: #333; /* Color de texto principal */
}

header {
  background-color: #35424a; /* Color de fondo para encabezado */
  color: #fff; /* Color de texto para encabezado */
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333; /* Color de fondo para pie de página */
  color: #fff; /* Color de texto para pie de página */
  text-align: center;
  padding: 10px 0;
}

/* Estilos para el contenido */
h2,
h3 {
  color: #35424a; /* Color de texto para títulos */
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Estilos responsivos */
@media only screen and (max-width: 600px) {
  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
